// =================================登录动画================================= //
@keyframes rotate {
    0% {
        transform: perspective(400px) rotateZ(5deg) rotateX(-60deg) rotateY(0);
    }

    100% {
        transform: perspective(400px) rotateZ(5deg) rotateX(-60deg) rotateY(-360deg);
    }
}

.loing-stars {
    .stars {
        z-index: 999;
        position: absolute;
        transform: perspective(500px);
        transform-style: preserve-3d;
        perspective-origin: 50% 90%;
        animation: rotate 90s infinite linear;
        bottom: 0;

        .star {
            width: 2px;
            height: 2px;
            background: #f7f7b8;
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
        }
    }
}

// =================================主页================================= //
.home {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .home-item-content {
        width: 100%;
        margin: 0 10%;
        display: flex;
        justify-content: center;
        // align-items: center;

        // 左边
        .home-item-left {
            width: 75%;
            padding: 0 10px;

            .content-main {
                .content-item {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    background-color: #ffffff;
                    box-shadow: 3px 5px 5px #656b79;
                    border-radius: 6px;
                    margin-bottom: 10px;

                    .content-title {
                        font-size: 20px;
                        font-weight: bold;
                        text-align: left;
                        padding: 10px;
                    }

                    .release-time {
                        font-size: 12px;
                        color: #797979;
                        padding-left: 10px;
                        display: flex;
                        justify-content: flex-start;

                        .release {
                            padding: 0 5px;
                        }
                    }

                    //
                    .content-box {
                        display: flex;
                        justify-content: flex-start;
                        padding: 10px;

                        .hidetext {
                            flex: 1;
                            font-size: 14px;
                            line-height: 20px;
                            text-align: justify;
                        }

                        .room_intro {
                            .content_text {
                                text-align: left;
                                font-size: 14px;
                                text-indent: 2em;
                            }

                            .content_block {
                                padding: 5px;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .el-image {
                                    width: 100%;

                                    .el-image__inner {
                                        width: 100%;

                                    }
                                }
                            }
                        }

                        .showEllipsis {
                            // 文本溢出超出两行显示省略号
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            line-clamp: 3;
                            -webkit-box-orient: vertical;




                        }

                        .btnWrap {
                            align-self: flex-end;
                            cursor: pointer;
                        }
                    }

                    .full-text {
                        text-align: left;
                        padding: 10px 10px;

                        .el-link.el-link--default:hover {
                            color: #dc943b;
                        }

                        .el-link.is-underline:hover:after {
                            position: absolute;
                            left: 0;
                            right: 0;
                            height: 0;
                            bottom: 0;
                            border-bottom: 0;
                        }
                    }
                }

            }
        }

        // 右边
        .home-item-right {
            width: 25%;
            height: 558px;
            margin: 0 10px;
            background-color: #ffffff;
            border-radius: 6px;
            box-shadow: 3px 5px 5px #656b79;

            // 日历
            .home-date {
                height: 340px;

                .el-calendar {
                    border-radius: 6px;

                    .el-calendar__header {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        padding: 12px 4px;
                        border-bottom: 1px solid #ebeef5;

                        .el-calendar__title {
                            font-size: 14px;
                            color: #000;
                            align-self: center;
                        }

                        .el-calendar__button-group {
                            margin-top: 10px;

                            .el-button-group {
                                display: inline-block;
                                vertical-align: middle;

                                .el-button:active {
                                    color: #ffffff;
                                    border-color: #f2b263;
                                    background-color: #f2b263;
                                    outline: 0;
                                }

                                .el-button:focus {
                                    color: #ffffff;
                                    border-color: #f2b263;
                                    background-color: #f2b263;
                                }

                                .el-button:hover {
                                    color: #ffffff;
                                    border-color: #f2b263;
                                    background-color: #f2b263;
                                }

                            }
                        }

                    }

                    .el-calendar__body {
                        padding: 0 2px;

                        .el-calendar-table {
                            td.is-selected {
                                background-color: #ffffff;
                            }

                            td.is-today {
                                color: #dc943b;
                            }

                            .el-calendar-day {
                                box-sizing: border-box;
                                padding: 8px;
                                height: 36px;
                            }
                        }
                    }
                }
            }

            // 时间线
            .home-news {
                .block {
                    height: 9rem;

                    .el-timeline {
                        height: 10rem;
                        // margin: 8px;
                        list-style: none;
                        overflow-y: auto;
                        padding: 0 10px;

                        .el-timeline-item {
                            position: relative;
                            padding-bottom: 8px;

                            .el-timeline-item__wrapper {
                                position: relative;
                                padding-left: 20px;
                                top: -3px;
                            }
                        }
                    }
                }
            }
        }
    }

}

.oop {
    background-color: #dc943b;



    .container-s1 {
        .title-logo {
            position: absolute;
            width: 100px;
            height: 22px;
            top: 0;
            right: 50px;
            background-image: linear-gradient(to right,
                    hsl(0, 0%, 73%),
                    hsl(210, 11%, 96%));
            -webkit-background-clip: text;
            color: transparent;
            font-weight: bold;
            line-height: 30px;
        }

        .header-s1 {
            width: 50%;
            height: 32px !important;
            background-color: #dc943b;

            .el-menu {
                // border-right: solid 1px #e6e6e6;
                list-style: none;
                position: relative;
                margin: 0;
                padding-left: 0;
                background-color: #dc943b;
            }

            .el-menu-item {
                .menu-title i {
                    color: #ffffff;
                    margin: 0 4px;
                }
            }

            .el-menu--horizontal>.el-menu-item.is-active {
                border-bottom: 2px solid hsl(33, 70%, 55%);
                color: hsl(33, 78%, 33%);

                .menu-title {
                    color: hsl(33, 78%, 33%);
                }
            }

            .el-menu--horizontal>.el-menu-item:not(.is-disabled):focus,
            .el-menu--horizontal>.el-menu-item:not(.is-disabled):hover,
            .el-menu--horizontal>.el-submenu .el-submenu__title:hover {
                background-color: transparent;
            }

            .el-menu--horizontal .el-menu-item:not(.is-disabled):focus,
            .el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
                outline: 0;
                color: hsl(33, 78%, 33%);

                // i:focus {
                //     color: hsl(33, 78%, 33%);
                // }

                // .menu-title i>span:hover {
                //     color: hsl(33, 78%, 33%);
                // }
            }


        }
    }

    .el-card__body,
    .el-main {
        width: 100%;
        position: absolute;
        top: 32px;
        bottom: 0;
        padding: 0px !important;
        background-color: #ffffff;
        color: #000;
        text-align: center;
        // line-height: 160px;
        background-color: #e1dbcd;
    }

    body>.el-container {
        margin-bottom: 40px;
    }

    .el-menu--horizontal>.el-menu-item {
        float: left;
        height: 32px;
        line-height: 30px;
        font-size: 14px;
        font-family: Microsoft YaHei;
        margin: 0;
        border-bottom: 2px solid transparent;
        color: #ffffff;

        .is-active {
            color: #ffffff;
        }
    }

    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
        line-height: 260px;
    }

    .el-container:nth-child(7) .el-aside {
        line-height: 320px;
    }
}

// =================================树洞================================= //
.TreeHoles {
    width: 100%;
    padding: 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .TreeHoles-item-content {
        width: 80%;

        .content-main {
            .content-issue {
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: #ffffff;
                box-shadow: 3px 5px 5px #656b79;
                border-radius: 6px;
                margin-bottom: 10px;
                height: 180px;

                .el-form {
                    .el-form-item {
                        margin-bottom: auto;

                        .el-form-item__content {
                            margin-left: auto;

                            .el-form-item__error {
                                color: #F56C6C;
                                font-size: 12px;
                                line-height: 1;
                                padding-top: 4px;
                                position: absolute;
                                top: 89%;
                                left: 22px;
                            }

                            .form-conten {
                                position: relative;

                                .el-textarea {
                                    width: 97%;
                                    padding: 15px;
                                }

                                .remaining {
                                    position: absolute;
                                    font-size: 12px;
                                    bottom: 10px;
                                    right: 30px;
                                }
                            }
                        }
                    }
                }

                .el-textarea__inner {
                    resize: none;
                }

                .el-row {
                    .el-button {
                        width: 40px;
                        height: 40px;
                        font-size: 25px;
                        border-radius: 50%;
                        padding: 0;

                        span {
                            i {
                                font-size: 18px;
                            }
                        }
                    }

                    .el-button--primary {
                        color: #FFF;
                        font-size: 18px;
                        background-color: #dc943b;
                        border-color: #dc943b;
                    }

                    .el-button--primary:focus,
                    .el-button--primary:hover {
                        background: hsl(33, 70%, 65%);
                        border-color: hsl(33, 70%, 65%);
                        color: #FFF;
                    }
                }
            }

            .content-item {
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: #ffffff;
                box-shadow: 3px 5px 5px #656b79;
                border-radius: 6px;
                margin-bottom: 10px;

                .user {
                    padding: 10px;
                    text-align: left;
                    display: flex;
                    justify-items: center;

                    .el-image {
                        width: 25px;
                        height: 25px;
                        display: flex;
                        justify-items: flex-end;
                        border-radius: 50%;
                    }

                    .content-title {
                        font-size: 16px;
                        color: #797979;
                        // font-weight: bold;
                        display: flex;
                        justify-items: center;
                        align-items: center;
                        padding-left: 10px;
                    }
                }

                .release-time {
                    font-size: 12px;
                    color: #797979;
                    padding-left: 10px;
                    display: flex;
                    justify-content: flex-start;

                    .release {
                        padding: 0 5px;
                    }
                }

                .content-box {
                    // font-size: 14px;
                    // text-indent: 2em;
                    // text-align: left;
                    display: flex;
                    justify-content: flex-start;
                    padding: 10px;

                    .hidetext {
                        flex: 1;
                        font-size: 14px;
                        line-height: 20px;
                        text-align: justify;
                    }

                    .room_intro {
                        .content_text {
                            text-align: left;
                            font-size: 14px;
                            text-indent: 2em;
                        }

                        .content_block {
                            padding: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .el-image {
                                width: 100%;

                                .el-image__inner {
                                    width: 100%;

                                }
                            }
                        }
                    }

                    .showEllipsis {
                        // 文本溢出超出两行显示省略号
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        line-clamp: 3;
                        -webkit-box-orient: vertical;




                    }

                    .btnWrap {
                        align-self: flex-end;
                        cursor: pointer;
                    }
                }

                .full-text {
                    text-align: left;
                    padding: 10px 10px;

                    .el-link.el-link--default:hover {
                        color: #dc943b;
                    }

                    .el-link.is-underline:hover:after {
                        position: absolute;
                        left: 0;
                        right: 0;
                        height: 0;
                        bottom: 0;
                        border-bottom: 0;
                    }
                }
            }

        }
    }
}

// =================================新闻================================= //
.news-item {
    width: 50%;

    // height: 600px;
    .new-out {
        background-color: hsl(354, 47%, 56%);

        .new-out-item {
            height: 100px;
        }
    }
}

// =================================归档================================= //


// =================================实验室================================= //

// =================================写博客================================= //
#edit-blog {
    margin: 20px auto;
    max-width: 80%;
    padding: 20px;
    // overflow-y: auto;

    * {
        box-sizing: border-box;

    }

    label {
        display: block;
        margin: 20px 0 10px;
    }

    input[type="text"],
    textarea {
        display: block;
        width: 100%;
        padding: 8px;
    }

    .v-note-wrapper .v-note-panel {
        position: relative;
        border-top: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 100%;
        box-sizing: border-box;
    }

    .editbt {
        margin-top: 10px;
        font-size: 16px;
        width: auto;
        padding: 6px;
        height: auto;
        border-radius: 5px;
    }
}

// =================================未知================================= //
button {
    display: block;
    margin: 20px 0;
    background: hsl(33, 70%, 55%);
    color: #fff;
    border: 0;
    padding: 14px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

#preview {
    padding: 10px 20px;
    border: 1px dotted #ccc;
    margin: 30px 0;

    h2 {
        margin-top: 10px;
    }

    .blog-preview {
        text-indent: 2em;
        text-align: left;
    }
}

.bj {
    margin: 5px 0;
}